<div>
    <p *ngFor="let item of items">
        {{ item }}
    </p>
    <button (click)="addItem()">addItem</button>

    <p>
        {{ message }}
    </p>
    <button (click)="refreshMessage()">refreshMessage</button>

    <p></p>
    <button (click)="setProperty()">setProperty</button>

    <p>before child</p>
    <app-child [data]="data"></app-child>
    <p>after child</p>
</div>
